body
{

background-color: rgb(235,236,244);

font-family: 'Jost', sans-serif;


}

.nav-link {
    font-size: 18px;
    font-weight: 500;
    color: black;

}

.nav-item:hover .nav-link {
    color: #0d6efd;
}
.main-title{

    font-size: 72px;
    font-weight: 500;
}
.main-subtitle{    font-size: 24px;
    font-weight: 500;
    color:rgb(113,83,217);
   
}

.main-p{font-size: 24px;
    font-weight: 400;
    color: #54545f;}

.btn{
background: linear-gradient(135deg,#4526b1 0%, #5435be 45%, #7153d9 66%);
padding:  20px 55px;
text-decoration: none;
color: white;
border-radius: 35px;

}

.mybackground {
    background: rgb(235,236,244) !important;
    transition: 1.5s ease-in;
  }
  
.mybackground.scrolled {
    background: rgb(255, 255, 255) !important;
  }